.descriptionContainer{
    position: relative;
}
.demo{
    position: absolute;
    width: 630px;
    left: 150px;
    top:4px;
    border: 1px solid #e0e0e0;
    padding: 5px;
    height: 174px;
}
.demo h1{
    margin: 6px 6px 15px 6px;;
}
.demo p {
    margin: 6px;
}