.groupSelection{
    display:flex;
    flex-wrap:nowrap;
    width:300px;
}
.groupSelection button{
    background-color: black;
    color:white;
    text-align:center;
    padding: 4px;
    height: 20px;
    margin: 3px;
    cursor:pointer;
}