.groupSelection{
    display:flex;
    flex-wrap:nowrap;
    width:500px;
}
.groupSelection button{
    background-color: black;
    color:white;
    text-align:center;
    padding: 4px;
    height: 20px;
    margin: 3px;
    cursor:pointer;
}
.optionName{
    position: relative;
}
.optionName h5{
    position:absolute;
    flex-wrap: wrap;
    margin: 0;
    height: 10px;
    width: 100px;
}