.classificationContainer{
    box-sizing: border-box;
    width:1200px;
    height: 200px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #e0e0e0;
}
.clearButton{
    width: 98px;
    margin:5px auto;
    height: 20px;
}
.clearButton button{
    background-color: #FB454F;
    color:white;
    text-align:center;
    padding: 5px;
    cursor:pointer;
}
.group1{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin: 0 auto;
}
